<!DOCTYPE html>
<html>
  <head>
	<meta charset= "utf-8">
	<Title> Dileiny Cruz</title>
		<style type= "text/css">

		h1{ 
			Color: Purple; font size:20 px;
			font-family: 'Plaster', cursive; 
		 }
img{float:left;

}

		h2{
			Color: Blue:; Font size:15px:;
		}
		p{
		    color:Green;	
		    float:right;
		}
	</style> 

</head>
   <body>